.masteroptions {
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 10%;
}
.masteroptions a {
    font-size:11px;
    padding: 2px;
    display: inline-block;
    min-width: 60px;
    margin-bottom: 10px;
    padding: 5px 2px;
    text-align: center;
}
.masteroptions a i{
    display: block;
}

/* detail */
#task-form {
    float: none;
    margin: 0 auto;
    overflow: hidden;
}

#task-form label {
    display: block;
}

#task-form p span {
    display: block;
}

#task-form select, #task-form input[type=text], #task-form textarea {
    width: 100%;
}

/* list */
form.filter {
    margin: 0 0 20px 0;
    min-height: 45px;
}
form.filter input {
    border-radius: 4px;
    border:1px solid #ccc;
}

form.filter input.btn {
    margin-bottom: 10px;
    margin-left: 10px;
}

form.filter select {
    background-color: white;
    height:24px;
    border-radius: 4px;
    font-size:13px;
    padding:2px;
    border:1px solid #ccc;
}

form.filter input[name=object_pk] {
    width:75px;
}


form.filter p {
    float: left;
    margin-right: 20px;
}

form.filter p div {
    margin: 0 0 0 10px;
}

form.filter p span.helptext {
    display: none;
}

a.navbar-brand {
    display: block;
    width:200px;
    height: 55px;
    /*background: url(../img/logo.png) 0 -50px no-repeat;*/
    padding:10px;
}

table#taskList td.detail {
    text-align: center;
}

div#suggestions {
    clear: both;
    float: none;
    margin:20px auto 0 auto;
    padding-bottom: 100px;
    overflow: hidden;
}
div#suggestions table td {
    padding:5px;
}

div#suggestions table td:first-child {
    width:2%;
    text-align: center;
}
div#suggestions table td.translated {
    width:46%;
}
div#suggestions table td:last-child{
    width:6%;
    text-align: center;
}


#messageWindow .container {
    width: 535px;
    /*height: 300px;*/
    padding:50px;
    margin:250px auto;
    color:#3c3c3c;
    border:1px solid #dcdcdc;
    background-color: #fff;
    font-family: "Roboto", Helvetica, Arial;
    -moz-box-shadow: 2px 2px 8px #9f9c9c;
    -webkit-box-shadow: 2px 2px 8px #9f9c9c;
    box-shadow: 2px 2px 8px #9f9c9c;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#9f9c9c');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#9f9c9c')";
}

#messageWindow .container h1 {
    overflow: hidden;display: block;margin:0;padding:0;background-color: #dcdcdc;height: 90px;width:100%;
}

/*#messageWindow .container h1 img {*/
    /*display: block;width: 140px;margin:25px auto;*/
/*}*/

#messageWindow .container h2 {
    font-size:70px;margin: 25px 0 0 0;padding: 0;text-align: center;
}

#messageWindow .container ul{
    margin:0;
    padding: 0;
    list-style: none;
}

#messageWindow .container ul li {
    display: block;padding:0;margin: 0;text-align: center;font-size: 18px;
}

#messageWindow .container a {
    display: block;
    width:115px;
    height:30px;
    line-height: 30px;
    margin: 20px auto 0 auto;
    background-color: #182a74;
    color:#fff;
    font-size:14px;
    text-align: center;
    text-decoration: none;
}
