{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>[TRANSMANAGER] - {% trans 'Notificación de proceso de importación/exportación de traducciones' %}</title>
</head>
<body>

    <h3>[TRANSMANAGER] - {% trans 'Notificación de proceso de importación/exportación de traducciones' %}</h3>
    <p>{% trans 'Para' %}: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>
    {% if not errors %}
        <p>{% trans 'El proceso de importación/exportación ha finalizado correctamente' %}</p>
    {% else %}
        <p>{% trans 'Se han producido los siguientes errores' %}:</p>
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if user_export and not errors%}
        <p><a href="{{ domain_url }}{% url 'transmanager-download-file' user_export.uuid %}">
            {% trans 'Descargar archivo' %}
        </a></p>
    {% endif %}

    <p><a href="{{ domain_url }}{% url 'transmanager-task-list' %}">{% trans 'Ir al listado de tareas pendientes' %}</a></p>

</body>
</html>