{% extends view.extends|default:'dashboard.html' %}
{% load i18n static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'transmanager/css/transmanager.css' %}" type="text/css" media="screen"/>
    <div id="task-form" class="col-xs-4 center-block">
        <form action="{% url 'transmanager-task-detail' object.id %}?{{ request.GET.urlencode }}" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
            <a href="{% url 'transmanager-task-list' %}?{{ request.GET.urlencode }}">
                {% trans 'Volver al listado' %}
            </a>
            <input id="bsend" name="bsend" type="submit" value="{% trans 'Guardar' %}" class="btn btn-primary pull-right" />
        </form>
    </div>
{% endblock %}