{% extends view.extends|default:'dashboard.html' %}
{% load i18n static %}

{% block content %}
    <div id="messageWindow">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="javascript:history.back()">{% trans 'Volver' %}</a>
        </div>
    </div>
{% endblock %}
